<!DOCTYPE html>
<html>
  <head>
  <title>Page Title</title>
    <!--[htmlclean-protect]-->
    <!-- inject:css -->
    <!-- endinject -->
    <!--[/htmlclean-protect]-->
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="#">Home</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" href="components.html">Bootstrap Components</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Bootstrap Page Templates
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown">
                  <a class="dropdown-item" href="404.html" target="blank">404</a>
                  <a class="dropdown-item" href="about.html" target="blank">about</a>
                  <a class="dropdown-item active" href="album.html" target="blank">album</a>
                  <a class="dropdown-item" href="blog-home-1.html" target="blank">blog-home-1</a>
                  <a class="dropdown-item" href="blog-home-2.html" target="blank">blog-home-2</a>
                  <a class="dropdown-item" href="blog-post.html" target="blank">blog-post</a>
                  <a class="dropdown-item" href="contact.html" target="blank">contact</a>
                  <a class="dropdown-item" href="faq.html" target="blank">faq</a>
                  <a class="dropdown-item" href="full-width.html" target="blank">full-width</a>
                  <a class="dropdown-item" href="portfolio-1-col.html" target="blank">portfolio-1-col</a>
                  <a class="dropdown-item" href="portfolio-2-col.html" target="blank">portfolio-2-col</a>
                  <a class="dropdown-item" href="portfolio-3-col.html" target="blank">portfolio-3-col</a>
                  <a class="dropdown-item" href="portfolio-4-col.html" target="blank">portfolio-4-col</a>
                  <a class="dropdown-item" href="pricing.html" target="blank">pricing</a>
                  <a class="dropdown-item" href="services.html" target="blank">services</a>
                  <a class="dropdown-item" href="sidebar.html" target="blank">sidebar</a>
                  <a class="dropdown-item" href="starter.html" target="blank">starter</a>
                  <a class="dropdown-item" href="sticky-footer.html" target="blank">sticky-footer</a>
                </div>                     
          </div>
      </nav>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary">Main call to action</a>
            <a href="#" class="btn btn-secondary">Secondary action</a>
          </p>
        </div>
      </section>

      <div class="album text-muted">
        <div class="container">

          <div class="row">
            <div class="card">
              <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card">
              <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card">
              <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>

            <div class="card">
              <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card">
              <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card">
              <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>

            <div class="card">
              <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card">
              <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card">
              <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>

        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>
    <!--[htmlclean-protect]-->
    <!-- inject:js -->
    <!-- endinject -->
    <!--[/htmlclean-protect]-->
</body>
</html>