<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Page Title</title>
    <!--[htmlclean-protect]-->
    <!-- inject:css -->
    <!-- endinject -->
    <!--[/htmlclean-protect]-->
  </head>
  <body>
  <main class="container">
    <h1>Page Title</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione consequuntur nostrum consectetur, ea voluptate error cupiditate vel quasi suscipit repudiandae sed aperiam mollitia tempore ullam quis molestiae dolorum cumque. Illo.</p>  

  </main>
    <!--[htmlclean-protect]-->
    <!-- inject:js -->
    <!-- endinject -->
    <!--[/htmlclean-protect]-->
</body>
</html>